.form {
  background-color: $background-medium;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 60%;
  padding: 2rem;
}

.type-label {
  font-size: 16px;
  padding: 1rem 0;
  width: 100%;
}

.type {
  padding: 1rem;
  font-size: 16px;
  width: 100%;
}

.another-btn {
  color: $font-dark;
  font-size: 16px;
  padding: .5rem;
  width: 50%;
}
