.form {
  background: rgba(204, 195, 187, .85);
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 60%;
  padding: 2rem;
}

label {
  font-size: 16px;
  padding: 1rem 0;
  width: 100%;
}

#select-type,
.select-type {
  background-color: $background-light;
  padding: 2rem;
  font-size: 16px;
  width: 100%;
}
