.activities {
  background-color: $background-medium-dark;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.card-title {
  font-size: 15px;
  padding-top: 1rem;
  width: 100%;
}

.save-activity {
  font-size: 16px;
  padding: .5rem;
  width: 40%;
}
