.activities-container {
  background: rgba(160, 169, 166, .85);
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.activity-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.you-should {
  font-size: 15px;
  padding: 1rem 0;
  width: 100%;
}

.description {
  @include box-shadow-radius;
  background-color: $background-light;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  height: 90px;
  justify-content: space-between;
  overflow: scroll;
  padding: 1rem;
  width: 100%;
}
