@import './scss/variables';
@import './scss/mixins';
@import './src/components/Nav/Nav';
@import './src/components/MyList/MyList';
@import './src/components/Activities/Activities';
@import './src/components/Form/Form';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 62.5%;
}

body,
#root {
  background-color: $background-dark;
  height: 100vh;
  width: 100vw;
}

#root {
  // background-image: url('src/assets/paint.jpg');
  align-items: center;
  display: flex;
  justify-content: center;
}

.app-container {
  height: 600px;
  margin-bottom: 7rem;
  width: 90%;
}

.card {
  height: 95%;
  width: 100%;
}

#blockColorblindContent {
  display: none;
}

@import './media-queries';
