@import './scss/variables';
@import './scss/mixins';
@import './src/components/Nav/Nav';
@import './src/components/Card/Card';
@import './src/components/Activities/Activities';
@import './src/components/Activity/Activity';
@import './src/components/Form/Form';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 62.5%;
}

body,
#root {
  background-color: $background-light;
  height: 100vh;
  width: 100vw;
}

#root {
  align-items: center;
  display: flex;
  justify-content: center;
}

.app-container {
  height: 80%;
  width: 90%;
}

// HERE TEMPORARILY


input {
  font-size: 16px;
  padding: 1rem;
}

#blockColorblindContent {
  display: none;
}

@import './media-queries';
