@media (min-width: 768px) {
  .app-container {
    display: flex;
    flex-direction: column;
    height: 450px;
    margin-bottom: 15rem;
    padding: 1rem;
    width: 80rem;
  }

  .nav {
    width: 40%;
  }

  .card {
    display: flex;
    width: 100%;
  }

  .activities-container {
    height: 100%;
    justify-content: space-between;
    width: 65%;

    .description {
      height: 80px;
    }
  }

  .form {
    height: 100%;
    padding: 1rem 2rem;
    width: 35%;

    #select-type,
    .select-type {
      padding: .5rem;
    }
  }

  .mylist {
    height: 100%;
    overflow: scroll;

    .activity-name {
      font-size: 24px;
    }
  }
}
