@media (min-width: 768px) {
  .app-container {
    display: flex;
    flex-direction: column;
    height: 450px;
    padding: 1rem;
    width: 80rem;
  }

  .nav {
    width: 40%;
  }

  .card {
    display: flex;
    width: 100%;
  }

  .activities {
    height: 100%;
    justify-content: initial;
    width: 65%;

    .card-title {
      padding-bottom: 1rem;
    }

    .activity-card {
      height: 80px;
    }

    .save-activity-btn {
      width: 45%;
    }
  }

  .form {
    height: 100%;
    padding: 1rem 2rem;
    width: 35%;

    .type {
      padding: .5rem;
    }

    .another-btn {
      width: 100%;
    }
  }

  .mylist {
    height: 100%;
    overflow: scroll;
  }
}
