.nav {
  display: flex;
  height: 60px;
  width: 45%;
}

.activities-btn,
.favorites-btn {
  @include button;
  align-items: center;
  color: $font-dark;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  height: 100%;
  text-decoration: none;
  width: 50%;
}

.activities-btn {
  background-color: $background-medium-dark;
}

.favorites-btn {
  background-color: $background-medium;
}
